body {
    font-family: Roboto !important;
}

.row {
    flex-wrap: nowrap;
}

.card-header {
    font-size: 150%;
    text-align: center !important;
    color: white !important;
    background-image: linear-gradient(to top, rgb(22 ,138, 106), #28a745);
}

.reset_pass {
    text-transform: uppercase;
    text-align: center !important;
    color: #28a745;
}

.card {
    border: 0.05rem solid grey;
    box-shadow: 0.35rem 0.35rem 0.15rem gray;
}

@media (max-width: 330px) {
    label {
        font-size: 0.75rem !important;
        width: 40% !important;
    }

    .login_box {
        width: 80% !important;
    }

    .reset_pass {
        font-size: 0.65rem;
    }

    .singup {
        margin-left: 5%;
        text-transform: uppercase;
        text-align: center !important;
        font-size: 0.65rem;
        color: #28a745;
    }

    .login {
        margin-top: 5%;
    }

    form {
        margin: 10% 3%;
    }

    #login {
        font-size: 120%;
        text-align: center !important;
        color: white !important;
        margin-left: 10%;
        width: 80% !important;
        background-image: linear-gradient(to top, rgb(22 ,138, 106), #28a745);
    }
}

@media (min-width: 330px) {
    label {
        font-size: 0.75rem !important;
        width: 40% !important;
    }

    .singup {
        margin-left: 10%;
        text-transform: uppercase;
        text-align: center !important;
        font-size: 0.75rem;
        color: #28a745;
    }

    .reset_pass {
        font-size: 0.75rem
    }


    .login {
        margin-top: 8%;
    }

    form {
        margin: 10% 3%;
    }

    #login {
        font-size: 1.25rem;
        text-align: center !important;
        color: white !important;
        margin-left: 10%;
        width: 80% !important;
        background-image: linear-gradient(to top, rgb(22 ,138, 106), #28a745);
    }
}

@media (min-width: 460px) {
    .login_box {
        width: 70% !important;
    }

    .singup {
        margin-left: 15%;
        text-transform: uppercase;
        text-align: center !important;
        color: #28a745;
    }

    .login {
        margin-top: 14%;
    }

    form {
        margin: 10% 3%;
    }

    #login {
        font-size: 120%;
        text-align: center !important;
        color: white !important;
        margin-left: 10%;
        width: 80% !important;
        background-image: linear-gradient(to top, rgb(22 ,138, 106), #28a745);
    }

}

@media (min-width: 576px) {
    .login_box {
        width: 70% !important;
    }

    .singup {
        margin-left: 18%;
        text-transform: uppercase;
        text-align: center !important;
        color: #28a745;
    }

    .login {
        margin-top: 10%;
    }

    form {
        margin: 10% 3%;
    }

    #login {
        font-size: 120%;
        text-align: center !important;
        color: white !important;
        margin-left: 10%;
        width: 80% !important;
        background-image: linear-gradient(to top, rgb(22 ,138, 106), #28a745);
    }

}

@media (min-width: 768px) {
    label {
        margin-left: 10%;
    }

    .login_box {
        width: 55% !important;
    }

    .singup {
        margin-left: 19%;
        text-transform: uppercase;
        text-align: center !important;
        color: #28a745;
    }

    .login {
        margin-top: 7%;
    }

    form {
        margin: 10% 3%;
    }

    #login {
        font-size: 120%;
        text-align: center !important;
        color: white !important;
        margin-left: 20%;
        width: 60% !important;
        background-image: linear-gradient(to top, rgb(22 ,138, 106), #28a745);
    }
}

@media (min-width: 992px) {
    label {
        margin-left: 13%;
    }

    .login_box {
        width: 40% !important;
    }

    .singup {
        margin-left: 20%;
        text-transform: uppercase;
        text-align: center !important;
        color: #28a745;
    }

    .login {
        margin-top: 13%;
    }

    form {
        margin: 10% 3%;
    }

    #login {
        font-size: 120%;
        text-align: center !important;
        color: white !important;
        margin-left: 20%;
        width: 60% !important;
        background-image: linear-gradient(to top, rgb(22 ,138, 106), #28a745);
    }
}

@media (min-width: 1200px) {
    label {
        margin-left: 13%;
    }

    .login_box {
        width: 30% !important;
    }

    .singup {
        margin-left: 24%;
        text-transform: uppercase;
        text-align: center !important;
        color: #28a745;
    }

    .login {
        margin-top: 4%;
    }

    form {
        margin: 10% 3%;
    }

    #login {
        font-size: 120%;
        text-align: center !important;
        color: white !important;
        margin-left: 14%;
        width: 72% !important;
        background-image: linear-gradient(to top, rgb(22 ,138, 106), #28a745);
    }
}
